.roadmap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.roadmap-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roadmap-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
