.custom-job-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.left-section {
  display: flex;
  align-items: center;
  padding: 10px;
}

.company-logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-right: 15px;
}

.company-info {
  display: flex;
  flex-direction: column;
}

.job-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

.star-icon {
  color: #ffbf00;
  margin-left: 5px;
}

.right-section {
  padding: 10px;
}

.description-title {
  padding-bottom: 10px;
  color: #0f293e;
}

.description-text {
  margin-bottom: 15px;
  color: #333;
}

.space-between-sections {
  margin-bottom: 20px; /* Adjusts the space between the description and job-meta */
}

.job-meta {
  margin-top: 10px;
}

.job-meta strong {
  color: #0f293e;
}

.view-details-link {
  text-decoration: none;
}
