html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 622px 1843px #fff, 1073px 945px #fff, 1190px 739px #fff,
    1025px 1996px #fff, 1445px 187px #fff, 1819px 782px #fff, 764px 546px #fff,
    481px 1978px #fff, 1159px 558px #fff, 1869px 1852px #fff, 1452px 123px #fff,
    1624px 709px #fff, 1041px 8px #fff, 674px 1571px #fff, 74px 1784px #fff,
    1315px 87px #fff, 1226px 1103px #fff, 860px 1274px #fff, 1301px 41px #fff,
    1586px 1805px #fff, 425px 233px #fff, 939px 1353px #fff, 1118px 220px #fff,
    841px 920px #fff, 332px 1743px #fff, 804px 1756px #fff, 1853px 1403px #fff,
    837px 760px #fff, 959px 685px #fff, 549px 319px #fff, 880px 995px #fff,
    1561px 955px #fff, 1932px 828px #fff, 802px 200px #fff, 70px 1065px #fff,
    585px 778px #fff, 147px 123px #fff, 455px 1561px #fff, 566px 1361px #fff,
    396px 1378px #fff, 672px 1406px #fff, 1557px 779px #fff, 1779px 1412px #fff,
    1852px 1822px #fff, 32px 547px #fff, 182px 1821px #fff, 699px 27px #fff,
    138px 718px #fff, 1894px 241px #fff, 793px 1497px #fff, 1148px 489px #fff,
    485px 1833px #fff, 863px 1779px #fff, 831px 890px #fff, 1758px 318px #fff,
    1100px 1010px #fff, 1152px 743px #fff, 1361px 1962px #fff, 1494px 982px #fff,
    1105px 896px #fff, 1592px 327px #fff, 1316px 1861px #fff, 929px 1824px #fff,
    555px 379px #fff, 457px 1627px #fff, 1137px 410px #fff, 1653px 632px #fff,
    1262px 318px #fff, 1825px 1754px #fff, 1595px 1120px #fff, 64px 986px #fff,
    979px 256px #fff, 168px 328px #fff, 826px 882px #fff, 1267px 1870px #fff,
    1993px 627px #fff, 657px 1090px #fff, 1706px 406px #fff, 1692px 180px #fff,
    1353px 1527px #fff, 732px 1380px #fff, 879px 1371px #fff, 260px 45px #fff,
    743px 1620px #fff, 710px 1988px #fff, 239px 440px #fff, 683px 1559px #fff,
    1935px 1434px #fff, 9px 592px #fff, 160px 1672px #fff, 703px 80px #fff,
    1687px 298px #fff, 881px 1611px #fff, 62px 1463px #fff, 1544px 775px #fff,
    1981px 1452px #fff, 750px 464px #fff, 1840px 1633px #fff, 923px 1630px #fff,
    292px 231px #fff, 1179px 955px #fff, 1897px 1235px #fff, 1200px 1505px #fff,
    40px 1624px #fff, 998px 393px #fff, 449px 1670px #fff, 1560px 1117px #fff,
    115px 1514px #fff, 1959px 1388px #fff, 1149px 1836px #fff, 1978px 473px #fff,
    537px 1505px #fff, 1061px 19px #fff, 1576px 538px #fff, 275px 525px #fff,
    1256px 1941px #fff, 893px 564px #fff, 1758px 1982px #fff, 206px 2000px #fff,
    1024px 1787px #fff, 1394px 457px #fff, 83px 1231px #fff, 1484px 982px #fff,
    1592px 742px #fff, 739px 520px #fff, 883px 102px #fff, 1505px 91px #fff,
    1116px 620px #fff, 1889px 1849px #fff, 910px 837px #fff, 833px 641px #fff,
    1528px 650px #fff, 771px 290px #fff, 1934px 787px #fff, 192px 1039px #fff,
    1430px 1919px #fff, 1852px 1829px #fff, 1537px 198px #fff,
    1035px 1470px #fff, 1682px 1358px #fff, 921px 1945px #fff, 1212px 711px #fff,
    1391px 2px #fff, 710px 368px #fff, 1520px 1166px #fff, 1695px 1489px #fff,
    1066px 925px #fff, 468px 439px #fff, 585px 1509px #fff, 20px 886px #fff,
    181px 1729px #fff, 216px 58px #fff, 1323px 1177px #fff, 7px 1743px #fff,
    1002px 1037px #fff, 373px 117px #fff, 1945px 293px #fff, 1614px 1478px #fff,
    1550px 851px #fff, 933px 710px #fff, 186px 351px #fff, 745px 810px #fff,
    624px 1228px #fff, 917px 1343px #fff, 1093px 1545px #fff, 1230px 163px #fff,
    1473px 1978px #fff, 1344px 1569px #fff, 1883px 37px #fff, 1019px 304px #fff,
    1378px 954px #fff, 165px 1425px #fff, 1271px 326px #fff, 1855px 1248px #fff,
    1527px 1813px #fff, 805px 1412px #fff, 846px 1716px #fff, 433px 896px #fff,
    244px 217px #fff, 549px 1069px #fff, 1282px 1271px #fff, 1758px 656px #fff,
    1989px 1572px #fff, 1718px 180px #fff, 1853px 175px #fff, 1605px 721px #fff,
    1310px 863px #fff, 828px 1057px #fff, 1055px 1506px #fff, 837px 1658px #fff,
    113px 1125px #fff, 458px 275px #fff, 1892px 842px #fff, 585px 931px #fff,
    90px 10px #fff, 738px 20px #fff, 1352px 198px #fff, 1803px 1621px #fff,
    567px 883px #fff, 1315px 1269px #fff, 1547px 1718px #fff, 570px 947px #fff,
    70px 1213px #fff, 367px 478px #fff, 956px 1517px #fff, 1569px 1952px #fff,
    1502px 1856px #fff, 780px 340px #fff, 1677px 831px #fff, 210px 279px #fff,
    1978px 1968px #fff, 685px 1898px #fff, 1371px 1012px #fff, 435px 199px #fff,
    1405px 875px #fff, 1274px 1483px #fff, 303px 165px #fff, 1503px 11px #fff,
    1374px 1461px #fff, 247px 1554px #fff, 117px 712px #fff, 889px 591px #fff,
    396px 1392px #fff, 736px 1809px #fff, 721px 861px #fff, 302px 609px #fff,
    1282px 642px #fff, 125px 1890px #fff, 293px 1699px #fff, 337px 1480px #fff,
    268px 38px #fff, 12px 1727px #fff, 842px 1155px #fff, 1698px 1596px #fff,
    1934px 675px #fff, 1615px 216px #fff, 1939px 1513px #fff, 614px 744px #fff,
    400px 705px #fff, 381px 1587px #fff, 1443px 283px #fff, 1960px 1044px #fff,
    1723px 1301px #fff, 766px 599px #fff, 935px 518px #fff, 337px 60px #fff,
    255px 697px #fff, 471px 1421px #fff, 635px 1266px #fff, 1251px 1208px #fff,
    1481px 537px #fff, 515px 598px #fff, 1672px 330px #fff, 1504px 1156px #fff,
    1966px 653px #fff, 1098px 396px #fff, 1680px 503px #fff, 1825px 1365px #fff,
    814px 1468px #fff, 1606px 1403px #fff, 737px 621px #fff, 754px 1834px #fff,
    137px 819px #fff, 770px 628px #fff, 1861px 1708px #fff, 1290px 1647px #fff,
    992px 1535px #fff, 1558px 502px #fff, 360px 1046px #fff, 1649px 452px #fff,
    118px 461px #fff, 643px 1177px #fff, 147px 1361px #fff, 1311px 1542px #fff,
    1146px 751px #fff, 1282px 1099px #fff, 96px 157px #fff, 134px 1309px #fff,
    1770px 1841px #fff, 232px 942px #fff, 887px 539px #fff, 653px 754px #fff,
    310px 1311px #fff, 749px 1690px #fff, 108px 186px #fff, 1781px 302px #fff,
    1931px 1773px #fff, 992px 1664px #fff, 474px 717px #fff, 1232px 943px #fff,
    1220px 800px #fff, 44px 1713px #fff, 68px 903px #fff, 1123px 261px #fff,
    936px 548px #fff, 373px 999px #fff, 1137px 1416px #fff, 1966px 1373px #fff,
    257px 1731px #fff, 1094px 1873px #fff, 733px 1633px #fff, 595px 1588px #fff,
    1693px 76px #fff, 1999px 1870px #fff, 167px 564px #fff, 1229px 1978px #fff,
    81px 1487px #fff, 213px 406px #fff, 1817px 840px #fff, 1124px 775px #fff,
    1298px 914px #fff, 446px 374px #fff, 449px 1364px #fff, 249px 699px #fff,
    276px 191px #fff, 370px 1343px #fff, 1029px 1796px #fff, 917px 404px #fff,
    92px 999px #fff, 499px 1044px #fff, 859px 288px #fff, 105px 156px #fff,
    508px 1335px #fff, 1354px 332px #fff, 1268px 491px #fff, 1072px 95px #fff,
    1120px 616px #fff, 295px 417px #fff, 556px 1905px #fff, 33px 1802px #fff,
    1754px 767px #fff, 524px 1093px #fff, 1518px 1449px #fff, 1200px 925px #fff,
    1245px 291px #fff, 710px 1768px #fff, 354px 570px #fff, 1548px 1745px #fff,
    962px 789px #fff, 880px 1692px #fff, 1347px 988px #fff, 1865px 466px #fff,
    1950px 957px #fff, 42px 1946px #fff, 1617px 1000px #fff, 1369px 540px #fff,
    1746px 42px #fff, 1630px 964px #fff, 1802px 1187px #fff, 1048px 1173px #fff,
    506px 1246px #fff, 242px 1631px #fff, 46px 1878px #fff, 1325px 351px #fff,
    1034px 1691px #fff, 110px 284px #fff, 442px 1873px #fff, 1740px 742px #fff,
    1699px 1090px #fff, 827px 228px #fff, 404px 1437px #fff, 533px 1945px #fff,
    1857px 1125px #fff, 1986px 270px #fff, 385px 1126px #fff, 1596px 790px #fff,
    217px 1070px #fff, 513px 554px #fff, 1924px 10px #fff, 374px 710px #fff,
    1633px 1066px #fff, 1949px 483px #fff, 1456px 733px #fff, 1058px 1012px #fff,
    3px 1352px #fff, 197px 1652px #fff, 40px 1795px #fff, 1961px 954px #fff,
    1017px 1318px #fff, 1235px 1289px #fff, 1458px 1610px #fff, 264px 32px #fff,
    482px 237px #fff, 1515px 1584px #fff, 1144px 1880px #fff, 277px 1687px #fff,
    1593px 1746px #fff, 1902px 968px #fff, 1817px 1168px #fff, 684px 1883px #fff,
    1310px 1522px #fff, 679px 487px #fff, 128px 204px #fff, 1981px 1177px #fff,
    979px 51px #fff, 1574px 1562px #fff, 439px 1014px #fff, 495px 1429px #fff,
    226px 289px #fff, 1118px 927px #fff, 819px 29px #fff, 1024px 1450px #fff,
    200px 1309px #fff, 909px 179px #fff, 1269px 1079px #fff, 1802px 967px #fff,
    477px 1905px #fff, 1849px 566px #fff, 452px 147px #fff, 1741px 757px #fff,
    910px 814px #fff, 1456px 982px #fff, 913px 1635px #fff, 1395px 1379px #fff,
    1775px 1217px #fff, 1620px 1522px #fff, 803px 1342px #fff, 1215px 901px #fff,
    1180px 1778px #fff, 988px 1938px #fff, 1182px 70px #fff, 893px 28px #fff,
    1069px 1075px #fff, 735px 575px #fff, 1054px 518px #fff, 1952px 1409px #fff,
    1577px 127px #fff, 1100px 293px #fff, 1051px 562px #fff, 840px 1444px #fff,
    407px 314px #fff, 825px 832px #fff, 973px 1556px #fff, 1783px 1886px #fff,
    272px 897px #fff, 1505px 257px #fff, 1468px 12px #fff, 1728px 490px #fff,
    211px 1599px #fff, 1682px 1699px #fff, 984px 1389px #fff, 646px 525px #fff,
    972px 297px #fff, 1419px 1761px #fff, 622px 1443px #fff, 1944px 1782px #fff,
    452px 1281px #fff, 1247px 887px #fff, 1918px 864px #fff, 134px 1816px #fff,
    1364px 1560px #fff, 1086px 1487px #fff, 1231px 440px #fff, 98px 1407px #fff,
    1723px 1431px #fff, 1551px 1253px #fff, 1235px 1858px #fff,
    1700px 770px #fff, 265px 1212px #fff, 75px 1002px #fff, 1769px 749px #fff,
    1398px 1463px #fff, 677px 642px #fff, 1468px 1180px #fff, 680px 277px #fff,
    406px 5px #fff, 1589px 1679px #fff, 1430px 201px #fff, 1047px 1321px #fff,
    1703px 868px #fff, 61px 924px #fff, 1465px 792px #fff, 754px 328px #fff,
    393px 742px #fff, 1157px 115px #fff, 712px 1271px #fff, 2px 437px #fff,
    1536px 1874px #fff, 608px 1473px #fff, 1177px 720px #fff, 687px 478px #fff,
    329px 1815px #fff, 1690px 232px #fff, 1328px 1064px #fff, 1581px 260px #fff,
    203px 1042px #fff, 64px 1957px #fff, 1041px 1380px #fff, 345px 730px #fff,
    1300px 999px #fff, 774px 133px #fff, 1491px 448px #fff, 659px 1971px #fff,
    146px 1804px #fff, 1737px 23px #fff, 1087px 1511px #fff, 1236px 1693px #fff,
    1639px 178px #fff, 1574px 1736px #fff, 414px 716px #fff, 1259px 1646px #fff,
    908px 479px #fff, 868px 1140px #fff, 1050px 106px #fff, 1421px 7px #fff,
    1365px 1933px #fff, 80px 127px #fff, 4px 415px #fff, 116px 472px #fff,
    843px 1081px #fff, 58px 968px #fff, 400px 826px #fff, 44px 937px #fff,
    286px 1932px #fff, 1978px 615px #fff, 736px 1643px #fff, 558px 1613px #fff,
    1053px 1774px #fff, 1342px 1097px #fff, 1302px 794px #fff, 352px 1350px #fff,
    1691px 950px #fff, 64px 992px #fff, 1503px 1868px #fff, 1426px 696px #fff,
    1135px 78px #fff, 1301px 162px #fff, 1781px 210px #fff, 232px 383px #fff,
    1442px 1200px #fff, 1029px 1356px #fff, 762px 131px #fff, 738px 1503px #fff,
    475px 1734px #fff, 1576px 686px #fff, 997px 909px #fff, 157px 1618px #fff,
    1312px 1732px #fff, 909px 585px #fff, 1876px 664px #fff, 930px 377px #fff,
    583px 57px #fff, 1305px 915px #fff, 443px 1399px #fff, 345px 444px #fff,
    1508px 600px #fff, 1719px 1629px #fff, 772px 205px #fff, 260px 885px #fff,
    1585px 99px #fff, 1053px 1144px #fff, 1987px 1247px #fff, 1545px 351px #fff,
    1586px 1927px #fff, 1646px 438px #fff, 1946px 215px #fff, 1644px 1431px #fff,
    900px 1248px #fff, 1491px 718px #fff, 749px 769px #fff, 1510px 1849px #fff,
    613px 1501px #fff, 1370px 505px #fff, 1164px 1077px #fff, 302px 1052px #fff,
    239px 1266px #fff, 268px 1270px #fff, 1899px 1119px #fff, 215px 1901px #fff,
    1377px 187px #fff, 1888px 1198px #fff, 1475px 1968px #fff, 191px 1419px #fff,
    1274px 1733px #fff, 817px 462px #fff, 1874px 299px #fff, 958px 375px #fff,
    1168px 581px #fff, 1181px 1578px #fff, 1216px 650px #fff, 1850px 350px #fff,
    1848px 1801px #fff, 1750px 1605px #fff, 663px 1502px #fff, 1787px 196px #fff,
    1726px 284px #fff, 1655px 928px #fff, 1397px 624px #fff, 936px 851px #fff,
    249px 1552px #fff, 1014px 695px #fff, 1976px 1195px #fff, 995px 761px #fff,
    827px 1769px #fff, 1593px 304px #fff, 522px 616px #fff, 1580px 1959px #fff,
    668px 248px #fff, 1830px 1424px #fff, 275px 1161px #fff, 1341px 10px #fff,
    1417px 1428px #fff, 630px 7px #fff, 1041px 989px #fff, 1883px 1844px #fff,
    1989px 10px #fff, 551px 125px #fff, 1752px 1813px #fff, 470px 518px #fff,
    1308px 1198px #fff, 310px 375px #fff, 415px 1298px #fff, 1721px 611px #fff,
    1232px 756px #fff, 663px 78px #fff, 1592px 283px #fff, 1447px 45px #fff,
    188px 276px #fff, 573px 1128px #fff, 1395px 1686px #fff, 975px 604px #fff,
    877px 601px #fff, 585px 738px #fff, 519px 1589px #fff, 1087px 1935px #fff,
    1128px 20px #fff, 427px 977px #fff, 1381px 1239px #fff, 1172px 1511px #fff,
    375px 1387px #fff, 927px 1135px #fff, 1649px 853px #fff, 1154px 579px #fff,
    1408px 1822px #fff, 802px 1909px #fff, 990px 301px #fff, 1879px 916px #fff,
    218px 1138px #fff, 1561px 155px #fff, 152px 1576px #fff, 1845px 322px #fff,
    485px 1195px #fff, 1575px 1563px #fff, 724px 714px #fff, 481px 1532px #fff,
    374px 903px #fff, 629px 390px #fff, 809px 1638px #fff, 1263px 815px #fff,
    154px 1326px #fff, 1734px 978px #fff, 1790px 1191px #fff, 1057px 1588px #fff,
    503px 10px #fff, 1233px 1199px #fff, 1794px 874px #fff, 1385px 150px #fff,
    474px 1662px #fff, 1995px 951px #fff, 1247px 329px #fff, 123px 1086px #fff,
    889px 1255px #fff, 1667px 292px #fff, 868px 1121px #fff, 1969px 1232px #fff,
    868px 1127px #fff, 1183px 307px #fff, 1440px 445px #fff, 956px 399px #fff,
    1512px 1186px #fff, 775px 1451px #fff, 1663px 1059px #fff, 468px 1333px #fff,
    1511px 425px #fff, 249px 793px #fff, 412px 212px #fff, 160px 1990px #fff,
    99px 1004px #fff, 238px 1731px #fff, 840px 1925px #fff, 908px 1127px #fff,
    298px 636px #fff, 1517px 1141px #fff, 858px 1498px #fff, 1102px 1798px #fff,
    192px 1897px #fff, 1170px 2000px #fff, 401px 43px #fff, 1190px 597px #fff,
    1853px 879px #fff, 1850px 1281px #fff, 911px 1404px #fff, 818px 1363px #fff,
    1949px 1360px #fff, 1587px 1810px #fff, 1439px 1678px #fff,
    1364px 1195px #fff, 1208px 1794px #fff, 1194px 521px #fff, 652px 46px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 622px 1843px #fff, 1073px 945px #fff, 1190px 739px #fff,
    1025px 1996px #fff, 1445px 187px #fff, 1819px 782px #fff, 764px 546px #fff,
    481px 1978px #fff, 1159px 558px #fff, 1869px 1852px #fff, 1452px 123px #fff,
    1624px 709px #fff, 1041px 8px #fff, 674px 1571px #fff, 74px 1784px #fff,
    1315px 87px #fff, 1226px 1103px #fff, 860px 1274px #fff, 1301px 41px #fff,
    1586px 1805px #fff, 425px 233px #fff, 939px 1353px #fff, 1118px 220px #fff,
    841px 920px #fff, 332px 1743px #fff, 804px 1756px #fff, 1853px 1403px #fff,
    837px 760px #fff, 959px 685px #fff, 549px 319px #fff, 880px 995px #fff,
    1561px 955px #fff, 1932px 828px #fff, 802px 200px #fff, 70px 1065px #fff,
    585px 778px #fff, 147px 123px #fff, 455px 1561px #fff, 566px 1361px #fff,
    396px 1378px #fff, 672px 1406px #fff, 1557px 779px #fff, 1779px 1412px #fff,
    1852px 1822px #fff, 32px 547px #fff, 182px 1821px #fff, 699px 27px #fff,
    138px 718px #fff, 1894px 241px #fff, 793px 1497px #fff, 1148px 489px #fff,
    485px 1833px #fff, 863px 1779px #fff, 831px 890px #fff, 1758px 318px #fff,
    1100px 1010px #fff, 1152px 743px #fff, 1361px 1962px #fff, 1494px 982px #fff,
    1105px 896px #fff, 1592px 327px #fff, 1316px 1861px #fff, 929px 1824px #fff,
    555px 379px #fff, 457px 1627px #fff, 1137px 410px #fff, 1653px 632px #fff,
    1262px 318px #fff, 1825px 1754px #fff, 1595px 1120px #fff, 64px 986px #fff,
    979px 256px #fff, 168px 328px #fff, 826px 882px #fff, 1267px 1870px #fff,
    1993px 627px #fff, 657px 1090px #fff, 1706px 406px #fff, 1692px 180px #fff,
    1353px 1527px #fff, 732px 1380px #fff, 879px 1371px #fff, 260px 45px #fff,
    743px 1620px #fff, 710px 1988px #fff, 239px 440px #fff, 683px 1559px #fff,
    1935px 1434px #fff, 9px 592px #fff, 160px 1672px #fff, 703px 80px #fff,
    1687px 298px #fff, 881px 1611px #fff, 62px 1463px #fff, 1544px 775px #fff,
    1981px 1452px #fff, 750px 464px #fff, 1840px 1633px #fff, 923px 1630px #fff,
    292px 231px #fff, 1179px 955px #fff, 1897px 1235px #fff, 1200px 1505px #fff,
    40px 1624px #fff, 998px 393px #fff, 449px 1670px #fff, 1560px 1117px #fff,
    115px 1514px #fff, 1959px 1388px #fff, 1149px 1836px #fff, 1978px 473px #fff,
    537px 1505px #fff, 1061px 19px #fff, 1576px 538px #fff, 275px 525px #fff,
    1256px 1941px #fff, 893px 564px #fff, 1758px 1982px #fff, 206px 2000px #fff,
    1024px 1787px #fff, 1394px 457px #fff, 83px 1231px #fff, 1484px 982px #fff,
    1592px 742px #fff, 739px 520px #fff, 883px 102px #fff, 1505px 91px #fff,
    1116px 620px #fff, 1889px 1849px #fff, 910px 837px #fff, 833px 641px #fff,
    1528px 650px #fff, 771px 290px #fff, 1934px 787px #fff, 192px 1039px #fff,
    1430px 1919px #fff, 1852px 1829px #fff, 1537px 198px #fff,
    1035px 1470px #fff, 1682px 1358px #fff, 921px 1945px #fff, 1212px 711px #fff,
    1391px 2px #fff, 710px 368px #fff, 1520px 1166px #fff, 1695px 1489px #fff,
    1066px 925px #fff, 468px 439px #fff, 585px 1509px #fff, 20px 886px #fff,
    181px 1729px #fff, 216px 58px #fff, 1323px 1177px #fff, 7px 1743px #fff,
    1002px 1037px #fff, 373px 117px #fff, 1945px 293px #fff, 1614px 1478px #fff,
    1550px 851px #fff, 933px 710px #fff, 186px 351px #fff, 745px 810px #fff,
    624px 1228px #fff, 917px 1343px #fff, 1093px 1545px #fff, 1230px 163px #fff,
    1473px 1978px #fff, 1344px 1569px #fff, 1883px 37px #fff, 1019px 304px #fff,
    1378px 954px #fff, 165px 1425px #fff, 1271px 326px #fff, 1855px 1248px #fff,
    1527px 1813px #fff, 805px 1412px #fff, 846px 1716px #fff, 433px 896px #fff,
    244px 217px #fff, 549px 1069px #fff, 1282px 1271px #fff, 1758px 656px #fff,
    1989px 1572px #fff, 1718px 180px #fff, 1853px 175px #fff, 1605px 721px #fff,
    1310px 863px #fff, 828px 1057px #fff, 1055px 1506px #fff, 837px 1658px #fff,
    113px 1125px #fff, 458px 275px #fff, 1892px 842px #fff, 585px 931px #fff,
    90px 10px #fff, 738px 20px #fff, 1352px 198px #fff, 1803px 1621px #fff,
    567px 883px #fff, 1315px 1269px #fff, 1547px 1718px #fff, 570px 947px #fff,
    70px 1213px #fff, 367px 478px #fff, 956px 1517px #fff, 1569px 1952px #fff,
    1502px 1856px #fff, 780px 340px #fff, 1677px 831px #fff, 210px 279px #fff,
    1978px 1968px #fff, 685px 1898px #fff, 1371px 1012px #fff, 435px 199px #fff,
    1405px 875px #fff, 1274px 1483px #fff, 303px 165px #fff, 1503px 11px #fff,
    1374px 1461px #fff, 247px 1554px #fff, 117px 712px #fff, 889px 591px #fff,
    396px 1392px #fff, 736px 1809px #fff, 721px 861px #fff, 302px 609px #fff,
    1282px 642px #fff, 125px 1890px #fff, 293px 1699px #fff, 337px 1480px #fff,
    268px 38px #fff, 12px 1727px #fff, 842px 1155px #fff, 1698px 1596px #fff,
    1934px 675px #fff, 1615px 216px #fff, 1939px 1513px #fff, 614px 744px #fff,
    400px 705px #fff, 381px 1587px #fff, 1443px 283px #fff, 1960px 1044px #fff,
    1723px 1301px #fff, 766px 599px #fff, 935px 518px #fff, 337px 60px #fff,
    255px 697px #fff, 471px 1421px #fff, 635px 1266px #fff, 1251px 1208px #fff,
    1481px 537px #fff, 515px 598px #fff, 1672px 330px #fff, 1504px 1156px #fff,
    1966px 653px #fff, 1098px 396px #fff, 1680px 503px #fff, 1825px 1365px #fff,
    814px 1468px #fff, 1606px 1403px #fff, 737px 621px #fff, 754px 1834px #fff,
    137px 819px #fff, 770px 628px #fff, 1861px 1708px #fff, 1290px 1647px #fff,
    992px 1535px #fff, 1558px 502px #fff, 360px 1046px #fff, 1649px 452px #fff,
    118px 461px #fff, 643px 1177px #fff, 147px 1361px #fff, 1311px 1542px #fff,
    1146px 751px #fff, 1282px 1099px #fff, 96px 157px #fff, 134px 1309px #fff,
    1770px 1841px #fff, 232px 942px #fff, 887px 539px #fff, 653px 754px #fff,
    310px 1311px #fff, 749px 1690px #fff, 108px 186px #fff, 1781px 302px #fff,
    1931px 1773px #fff, 992px 1664px #fff, 474px 717px #fff, 1232px 943px #fff,
    1220px 800px #fff, 44px 1713px #fff, 68px 903px #fff, 1123px 261px #fff,
    936px 548px #fff, 373px 999px #fff, 1137px 1416px #fff, 1966px 1373px #fff,
    257px 1731px #fff, 1094px 1873px #fff, 733px 1633px #fff, 595px 1588px #fff,
    1693px 76px #fff, 1999px 1870px #fff, 167px 564px #fff, 1229px 1978px #fff,
    81px 1487px #fff, 213px 406px #fff, 1817px 840px #fff, 1124px 775px #fff,
    1298px 914px #fff, 446px 374px #fff, 449px 1364px #fff, 249px 699px #fff,
    276px 191px #fff, 370px 1343px #fff, 1029px 1796px #fff, 917px 404px #fff,
    92px 999px #fff, 499px 1044px #fff, 859px 288px #fff, 105px 156px #fff,
    508px 1335px #fff, 1354px 332px #fff, 1268px 491px #fff, 1072px 95px #fff,
    1120px 616px #fff, 295px 417px #fff, 556px 1905px #fff, 33px 1802px #fff,
    1754px 767px #fff, 524px 1093px #fff, 1518px 1449px #fff, 1200px 925px #fff,
    1245px 291px #fff, 710px 1768px #fff, 354px 570px #fff, 1548px 1745px #fff,
    962px 789px #fff, 880px 1692px #fff, 1347px 988px #fff, 1865px 466px #fff,
    1950px 957px #fff, 42px 1946px #fff, 1617px 1000px #fff, 1369px 540px #fff,
    1746px 42px #fff, 1630px 964px #fff, 1802px 1187px #fff, 1048px 1173px #fff,
    506px 1246px #fff, 242px 1631px #fff, 46px 1878px #fff, 1325px 351px #fff,
    1034px 1691px #fff, 110px 284px #fff, 442px 1873px #fff, 1740px 742px #fff,
    1699px 1090px #fff, 827px 228px #fff, 404px 1437px #fff, 533px 1945px #fff,
    1857px 1125px #fff, 1986px 270px #fff, 385px 1126px #fff, 1596px 790px #fff,
    217px 1070px #fff, 513px 554px #fff, 1924px 10px #fff, 374px 710px #fff,
    1633px 1066px #fff, 1949px 483px #fff, 1456px 733px #fff, 1058px 1012px #fff,
    3px 1352px #fff, 197px 1652px #fff, 40px 1795px #fff, 1961px 954px #fff,
    1017px 1318px #fff, 1235px 1289px #fff, 1458px 1610px #fff, 264px 32px #fff,
    482px 237px #fff, 1515px 1584px #fff, 1144px 1880px #fff, 277px 1687px #fff,
    1593px 1746px #fff, 1902px 968px #fff, 1817px 1168px #fff, 684px 1883px #fff,
    1310px 1522px #fff, 679px 487px #fff, 128px 204px #fff, 1981px 1177px #fff,
    979px 51px #fff, 1574px 1562px #fff, 439px 1014px #fff, 495px 1429px #fff,
    226px 289px #fff, 1118px 927px #fff, 819px 29px #fff, 1024px 1450px #fff,
    200px 1309px #fff, 909px 179px #fff, 1269px 1079px #fff, 1802px 967px #fff,
    477px 1905px #fff, 1849px 566px #fff, 452px 147px #fff, 1741px 757px #fff,
    910px 814px #fff, 1456px 982px #fff, 913px 1635px #fff, 1395px 1379px #fff,
    1775px 1217px #fff, 1620px 1522px #fff, 803px 1342px #fff, 1215px 901px #fff,
    1180px 1778px #fff, 988px 1938px #fff, 1182px 70px #fff, 893px 28px #fff,
    1069px 1075px #fff, 735px 575px #fff, 1054px 518px #fff, 1952px 1409px #fff,
    1577px 127px #fff, 1100px 293px #fff, 1051px 562px #fff, 840px 1444px #fff,
    407px 314px #fff, 825px 832px #fff, 973px 1556px #fff, 1783px 1886px #fff,
    272px 897px #fff, 1505px 257px #fff, 1468px 12px #fff, 1728px 490px #fff,
    211px 1599px #fff, 1682px 1699px #fff, 984px 1389px #fff, 646px 525px #fff,
    972px 297px #fff, 1419px 1761px #fff, 622px 1443px #fff, 1944px 1782px #fff,
    452px 1281px #fff, 1247px 887px #fff, 1918px 864px #fff, 134px 1816px #fff,
    1364px 1560px #fff, 1086px 1487px #fff, 1231px 440px #fff, 98px 1407px #fff,
    1723px 1431px #fff, 1551px 1253px #fff, 1235px 1858px #fff,
    1700px 770px #fff, 265px 1212px #fff, 75px 1002px #fff, 1769px 749px #fff,
    1398px 1463px #fff, 677px 642px #fff, 1468px 1180px #fff, 680px 277px #fff,
    406px 5px #fff, 1589px 1679px #fff, 1430px 201px #fff, 1047px 1321px #fff,
    1703px 868px #fff, 61px 924px #fff, 1465px 792px #fff, 754px 328px #fff,
    393px 742px #fff, 1157px 115px #fff, 712px 1271px #fff, 2px 437px #fff,
    1536px 1874px #fff, 608px 1473px #fff, 1177px 720px #fff, 687px 478px #fff,
    329px 1815px #fff, 1690px 232px #fff, 1328px 1064px #fff, 1581px 260px #fff,
    203px 1042px #fff, 64px 1957px #fff, 1041px 1380px #fff, 345px 730px #fff,
    1300px 999px #fff, 774px 133px #fff, 1491px 448px #fff, 659px 1971px #fff,
    146px 1804px #fff, 1737px 23px #fff, 1087px 1511px #fff, 1236px 1693px #fff,
    1639px 178px #fff, 1574px 1736px #fff, 414px 716px #fff, 1259px 1646px #fff,
    908px 479px #fff, 868px 1140px #fff, 1050px 106px #fff, 1421px 7px #fff,
    1365px 1933px #fff, 80px 127px #fff, 4px 415px #fff, 116px 472px #fff,
    843px 1081px #fff, 58px 968px #fff, 400px 826px #fff, 44px 937px #fff,
    286px 1932px #fff, 1978px 615px #fff, 736px 1643px #fff, 558px 1613px #fff,
    1053px 1774px #fff, 1342px 1097px #fff, 1302px 794px #fff, 352px 1350px #fff,
    1691px 950px #fff, 64px 992px #fff, 1503px 1868px #fff, 1426px 696px #fff,
    1135px 78px #fff, 1301px 162px #fff, 1781px 210px #fff, 232px 383px #fff,
    1442px 1200px #fff, 1029px 1356px #fff, 762px 131px #fff, 738px 1503px #fff,
    475px 1734px #fff, 1576px 686px #fff, 997px 909px #fff, 157px 1618px #fff,
    1312px 1732px #fff, 909px 585px #fff, 1876px 664px #fff, 930px 377px #fff,
    583px 57px #fff, 1305px 915px #fff, 443px 1399px #fff, 345px 444px #fff,
    1508px 600px #fff, 1719px 1629px #fff, 772px 205px #fff, 260px 885px #fff,
    1585px 99px #fff, 1053px 1144px #fff, 1987px 1247px #fff, 1545px 351px #fff,
    1586px 1927px #fff, 1646px 438px #fff, 1946px 215px #fff, 1644px 1431px #fff,
    900px 1248px #fff, 1491px 718px #fff, 749px 769px #fff, 1510px 1849px #fff,
    613px 1501px #fff, 1370px 505px #fff, 1164px 1077px #fff, 302px 1052px #fff,
    239px 1266px #fff, 268px 1270px #fff, 1899px 1119px #fff, 215px 1901px #fff,
    1377px 187px #fff, 1888px 1198px #fff, 1475px 1968px #fff, 191px 1419px #fff,
    1274px 1733px #fff, 817px 462px #fff, 1874px 299px #fff, 958px 375px #fff,
    1168px 581px #fff, 1181px 1578px #fff, 1216px 650px #fff, 1850px 350px #fff,
    1848px 1801px #fff, 1750px 1605px #fff, 663px 1502px #fff, 1787px 196px #fff,
    1726px 284px #fff, 1655px 928px #fff, 1397px 624px #fff, 936px 851px #fff,
    249px 1552px #fff, 1014px 695px #fff, 1976px 1195px #fff, 995px 761px #fff,
    827px 1769px #fff, 1593px 304px #fff, 522px 616px #fff, 1580px 1959px #fff,
    668px 248px #fff, 1830px 1424px #fff, 275px 1161px #fff, 1341px 10px #fff,
    1417px 1428px #fff, 630px 7px #fff, 1041px 989px #fff, 1883px 1844px #fff,
    1989px 10px #fff, 551px 125px #fff, 1752px 1813px #fff, 470px 518px #fff,
    1308px 1198px #fff, 310px 375px #fff, 415px 1298px #fff, 1721px 611px #fff,
    1232px 756px #fff, 663px 78px #fff, 1592px 283px #fff, 1447px 45px #fff,
    188px 276px #fff, 573px 1128px #fff, 1395px 1686px #fff, 975px 604px #fff,
    877px 601px #fff, 585px 738px #fff, 519px 1589px #fff, 1087px 1935px #fff,
    1128px 20px #fff, 427px 977px #fff, 1381px 1239px #fff, 1172px 1511px #fff,
    375px 1387px #fff, 927px 1135px #fff, 1649px 853px #fff, 1154px 579px #fff,
    1408px 1822px #fff, 802px 1909px #fff, 990px 301px #fff, 1879px 916px #fff,
    218px 1138px #fff, 1561px 155px #fff, 152px 1576px #fff, 1845px 322px #fff,
    485px 1195px #fff, 1575px 1563px #fff, 724px 714px #fff, 481px 1532px #fff,
    374px 903px #fff, 629px 390px #fff, 809px 1638px #fff, 1263px 815px #fff,
    154px 1326px #fff, 1734px 978px #fff, 1790px 1191px #fff, 1057px 1588px #fff,
    503px 10px #fff, 1233px 1199px #fff, 1794px 874px #fff, 1385px 150px #fff,
    474px 1662px #fff, 1995px 951px #fff, 1247px 329px #fff, 123px 1086px #fff,
    889px 1255px #fff, 1667px 292px #fff, 868px 1121px #fff, 1969px 1232px #fff,
    868px 1127px #fff, 1183px 307px #fff, 1440px 445px #fff, 956px 399px #fff,
    1512px 1186px #fff, 775px 1451px #fff, 1663px 1059px #fff, 468px 1333px #fff,
    1511px 425px #fff, 249px 793px #fff, 412px 212px #fff, 160px 1990px #fff,
    99px 1004px #fff, 238px 1731px #fff, 840px 1925px #fff, 908px 1127px #fff,
    298px 636px #fff, 1517px 1141px #fff, 858px 1498px #fff, 1102px 1798px #fff,
    192px 1897px #fff, 1170px 2000px #fff, 401px 43px #fff, 1190px 597px #fff,
    1853px 879px #fff, 1850px 1281px #fff, 911px 1404px #fff, 818px 1363px #fff,
    1949px 1360px #fff, 1587px 1810px #fff, 1439px 1678px #fff,
    1364px 1195px #fff, 1208px 1794px #fff, 1194px 521px #fff, 652px 46px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 211px 1943px #fff, 1619px 1229px #fff, 255px 247px #fff,
    549px 1346px #fff, 496px 97px #fff, 327px 1738px #fff, 198px 1527px #fff,
    1249px 632px #fff, 968px 1099px #fff, 193px 329px #fff, 1705px 1519px #fff,
    800px 1367px #fff, 1944px 1328px #fff, 650px 1788px #fff, 810px 39px #fff,
    1056px 1901px #fff, 235px 421px #fff, 1338px 259px #fff, 1042px 462px #fff,
    223px 613px #fff, 551px 739px #fff, 796px 1500px #fff, 1484px 555px #fff,
    637px 1927px #fff, 302px 795px #fff, 302px 1342px #fff, 834px 1159px #fff,
    1279px 1954px #fff, 86px 1431px #fff, 206px 524px #fff, 1715px 917px #fff,
    1418px 1564px #fff, 1055px 1715px #fff, 30px 1077px #fff, 1569px 791px #fff,
    1206px 1924px #fff, 1166px 1502px #fff, 1186px 621px #fff,
    1255px 1666px #fff, 1484px 11px #fff, 1244px 674px #fff, 723px 1583px #fff,
    1983px 627px #fff, 1273px 345px #fff, 1345px 735px #fff, 1945px 1453px #fff,
    1020px 405px #fff, 1782px 28px #fff, 1072px 212px #fff, 1640px 24px #fff,
    1614px 1231px #fff, 1783px 1148px #fff, 29px 1253px #fff, 495px 1869px #fff,
    1342px 471px #fff, 1942px 574px #fff, 933px 1199px #fff, 448px 1208px #fff,
    1319px 361px #fff, 1578px 1147px #fff, 825px 289px #fff, 1276px 1562px #fff,
    1912px 1315px #fff, 1645px 1170px #fff, 1667px 1760px #fff,
    987px 1882px #fff, 1815px 257px #fff, 375px 1678px #fff, 1942px 33px #fff,
    1697px 1677px #fff, 991px 81px #fff, 599px 794px #fff, 1965px 126px #fff,
    93px 725px #fff, 40px 249px #fff, 1052px 1670px #fff, 323px 590px #fff,
    431px 1140px #fff, 37px 654px #fff, 1602px 677px #fff, 1789px 705px #fff,
    1142px 935px #fff, 286px 832px #fff, 1039px 710px #fff, 1944px 976px #fff,
    1632px 1007px #fff, 1916px 466px #fff, 1781px 165px #fff, 1790px 142px #fff,
    1399px 327px #fff, 69px 1456px #fff, 836px 1699px #fff, 766px 1147px #fff,
    1801px 1087px #fff, 1245px 1904px #fff, 784px 738px #fff, 46px 572px #fff,
    1969px 461px #fff, 1309px 1478px #fff, 190px 407px #fff, 1420px 442px #fff,
    1179px 1775px #fff, 180px 1173px #fff, 809px 928px #fff, 317px 1778px #fff,
    177px 842px #fff, 1572px 1930px #fff, 14px 1980px #fff, 1881px 1315px #fff,
    1754px 1761px #fff, 203px 1444px #fff, 1842px 425px #fff, 78px 106px #fff,
    1439px 1108px #fff, 1472px 73px #fff, 1178px 849px #fff, 1970px 288px #fff,
    1713px 265px #fff, 395px 1046px #fff, 64px 1646px #fff, 32px 1500px #fff,
    258px 267px #fff, 172px 1260px #fff, 584px 107px #fff, 1287px 694px #fff,
    936px 938px #fff, 1653px 1328px #fff, 226px 429px #fff, 1595px 1638px #fff,
    1409px 1210px #fff, 1380px 48px #fff, 1457px 1272px #fff, 1144px 1491px #fff,
    1728px 6px #fff, 70px 609px #fff, 1008px 1713px #fff, 1088px 731px #fff,
    312px 497px #fff, 464px 588px #fff, 1697px 520px #fff, 1315px 437px #fff,
    646px 575px #fff, 73px 544px #fff, 1883px 112px #fff, 1830px 868px #fff,
    501px 1931px #fff, 363px 1529px #fff, 1975px 1353px #fff, 1599px 115px #fff,
    220px 1753px #fff, 1114px 756px #fff, 1422px 1175px #fff, 723px 1751px #fff,
    240px 387px #fff, 1110px 1693px #fff, 89px 283px #fff, 44px 1109px #fff,
    191px 1797px #fff, 1613px 267px #fff, 849px 1323px #fff, 57px 1356px #fff,
    1814px 667px #fff, 1528px 350px #fff, 365px 912px #fff, 418px 658px #fff,
    1103px 576px #fff, 1809px 1539px #fff, 1273px 1846px #fff,
    1338px 1230px #fff, 474px 287px #fff, 1421px 1829px #fff, 560px 1708px #fff,
    1903px 293px #fff, 1974px 612px #fff, 1614px 1644px #fff, 1117px 1462px #fff,
    223px 551px #fff, 261px 574px #fff, 1942px 1952px #fff, 845px 775px #fff,
    1645px 54px #fff, 826px 934px #fff, 1469px 1692px #fff, 757px 541px #fff,
    1932px 285px #fff, 654px 521px #fff, 1711px 610px #fff, 419px 744px #fff,
    1990px 186px #fff, 1304px 218px #fff, 1348px 1189px #fff, 1983px 62px #fff,
    1813px 1847px #fff, 191px 301px #fff, 92px 1021px #fff, 853px 95px #fff,
    1485px 511px #fff, 815px 349px #fff, 470px 128px #fff, 98px 879px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 211px 1943px #fff, 1619px 1229px #fff, 255px 247px #fff,
    549px 1346px #fff, 496px 97px #fff, 327px 1738px #fff, 198px 1527px #fff,
    1249px 632px #fff, 968px 1099px #fff, 193px 329px #fff, 1705px 1519px #fff,
    800px 1367px #fff, 1944px 1328px #fff, 650px 1788px #fff, 810px 39px #fff,
    1056px 1901px #fff, 235px 421px #fff, 1338px 259px #fff, 1042px 462px #fff,
    223px 613px #fff, 551px 739px #fff, 796px 1500px #fff, 1484px 555px #fff,
    637px 1927px #fff, 302px 795px #fff, 302px 1342px #fff, 834px 1159px #fff,
    1279px 1954px #fff, 86px 1431px #fff, 206px 524px #fff, 1715px 917px #fff,
    1418px 1564px #fff, 1055px 1715px #fff, 30px 1077px #fff, 1569px 791px #fff,
    1206px 1924px #fff, 1166px 1502px #fff, 1186px 621px #fff,
    1255px 1666px #fff, 1484px 11px #fff, 1244px 674px #fff, 723px 1583px #fff,
    1983px 627px #fff, 1273px 345px #fff, 1345px 735px #fff, 1945px 1453px #fff,
    1020px 405px #fff, 1782px 28px #fff, 1072px 212px #fff, 1640px 24px #fff,
    1614px 1231px #fff, 1783px 1148px #fff, 29px 1253px #fff, 495px 1869px #fff,
    1342px 471px #fff, 1942px 574px #fff, 933px 1199px #fff, 448px 1208px #fff,
    1319px 361px #fff, 1578px 1147px #fff, 825px 289px #fff, 1276px 1562px #fff,
    1912px 1315px #fff, 1645px 1170px #fff, 1667px 1760px #fff,
    987px 1882px #fff, 1815px 257px #fff, 375px 1678px #fff, 1942px 33px #fff,
    1697px 1677px #fff, 991px 81px #fff, 599px 794px #fff, 1965px 126px #fff,
    93px 725px #fff, 40px 249px #fff, 1052px 1670px #fff, 323px 590px #fff,
    431px 1140px #fff, 37px 654px #fff, 1602px 677px #fff, 1789px 705px #fff,
    1142px 935px #fff, 286px 832px #fff, 1039px 710px #fff, 1944px 976px #fff,
    1632px 1007px #fff, 1916px 466px #fff, 1781px 165px #fff, 1790px 142px #fff,
    1399px 327px #fff, 69px 1456px #fff, 836px 1699px #fff, 766px 1147px #fff,
    1801px 1087px #fff, 1245px 1904px #fff, 784px 738px #fff, 46px 572px #fff,
    1969px 461px #fff, 1309px 1478px #fff, 190px 407px #fff, 1420px 442px #fff,
    1179px 1775px #fff, 180px 1173px #fff, 809px 928px #fff, 317px 1778px #fff,
    177px 842px #fff, 1572px 1930px #fff, 14px 1980px #fff, 1881px 1315px #fff,
    1754px 1761px #fff, 203px 1444px #fff, 1842px 425px #fff, 78px 106px #fff,
    1439px 1108px #fff, 1472px 73px #fff, 1178px 849px #fff, 1970px 288px #fff,
    1713px 265px #fff, 395px 1046px #fff, 64px 1646px #fff, 32px 1500px #fff,
    258px 267px #fff, 172px 1260px #fff, 584px 107px #fff, 1287px 694px #fff,
    936px 938px #fff, 1653px 1328px #fff, 226px 429px #fff, 1595px 1638px #fff,
    1409px 1210px #fff, 1380px 48px #fff, 1457px 1272px #fff, 1144px 1491px #fff,
    1728px 6px #fff, 70px 609px #fff, 1008px 1713px #fff, 1088px 731px #fff,
    312px 497px #fff, 464px 588px #fff, 1697px 520px #fff, 1315px 437px #fff,
    646px 575px #fff, 73px 544px #fff, 1883px 112px #fff, 1830px 868px #fff,
    501px 1931px #fff, 363px 1529px #fff, 1975px 1353px #fff, 1599px 115px #fff,
    220px 1753px #fff, 1114px 756px #fff, 1422px 1175px #fff, 723px 1751px #fff,
    240px 387px #fff, 1110px 1693px #fff, 89px 283px #fff, 44px 1109px #fff,
    191px 1797px #fff, 1613px 267px #fff, 849px 1323px #fff, 57px 1356px #fff,
    1814px 667px #fff, 1528px 350px #fff, 365px 912px #fff, 418px 658px #fff,
    1103px 576px #fff, 1809px 1539px #fff, 1273px 1846px #fff,
    1338px 1230px #fff, 474px 287px #fff, 1421px 1829px #fff, 560px 1708px #fff,
    1903px 293px #fff, 1974px 612px #fff, 1614px 1644px #fff, 1117px 1462px #fff,
    223px 551px #fff, 261px 574px #fff, 1942px 1952px #fff, 845px 775px #fff,
    1645px 54px #fff, 826px 934px #fff, 1469px 1692px #fff, 757px 541px #fff,
    1932px 285px #fff, 654px 521px #fff, 1711px 610px #fff, 419px 744px #fff,
    1990px 186px #fff, 1304px 218px #fff, 1348px 1189px #fff, 1983px 62px #fff,
    1813px 1847px #fff, 191px 301px #fff, 92px 1021px #fff, 853px 95px #fff,
    1485px 511px #fff, 815px 349px #fff, 470px 128px #fff, 98px 879px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1906px 73px #fff, 163px 1277px #fff, 1559px 807px #fff,
    530px 1567px #fff, 882px 58px #fff, 1536px 1501px #fff, 1685px 1380px #fff,
    1980px 867px #fff, 1108px 1344px #fff, 673px 504px #fff, 1096px 1794px #fff,
    1591px 822px #fff, 1935px 1530px #fff, 882px 1290px #fff, 1018px 1163px #fff,
    1155px 97px #fff, 1303px 1033px #fff, 902px 1201px #fff, 1639px 1426px #fff,
    271px 390px #fff, 1079px 290px #fff, 1927px 1864px #fff, 1731px 1744px #fff,
    685px 886px #fff, 865px 888px #fff, 879px 1788px #fff, 699px 1370px #fff,
    1646px 1531px #fff, 1601px 1537px #fff, 1337px 541px #fff, 920px 1520px #fff,
    1464px 319px #fff, 552px 1475px #fff, 666px 1117px #fff, 871px 1393px #fff,
    1779px 1517px #fff, 547px 1051px #fff, 934px 1682px #fff, 1434px 375px #fff,
    730px 494px #fff, 327px 1682px #fff, 1719px 1604px #fff, 832px 80px #fff,
    821px 422px #fff, 236px 774px #fff, 894px 1734px #fff, 1821px 203px #fff,
    1550px 1741px #fff, 1354px 474px #fff, 24px 39px #fff, 1364px 1721px #fff,
    698px 578px #fff, 325px 96px #fff, 814px 1669px #fff, 425px 1269px #fff,
    1292px 631px #fff, 1916px 1725px #fff, 1469px 1801px #fff,
    1499px 1998px #fff, 1193px 1269px #fff, 878px 935px #fff, 1428px 1533px #fff,
    307px 1813px #fff, 1939px 833px #fff, 190px 773px #fff, 1202px 1083px #fff,
    560px 350px #fff, 1657px 1950px #fff, 1744px 17px #fff, 924px 113px #fff,
    808px 1468px #fff, 1954px 1165px #fff, 1627px 509px #fff, 391px 1599px #fff,
    885px 549px #fff, 1897px 1005px #fff, 477px 1521px #fff, 86px 1182px #fff,
    492px 1616px #fff, 866px 1120px #fff, 4px 1041px #fff, 317px 106px #fff,
    1662px 1093px #fff, 1909px 832px #fff, 888px 634px #fff, 796px 148px #fff,
    1398px 898px #fff, 585px 652px #fff, 1072px 466px #fff, 1497px 1029px #fff,
    1935px 957px #fff, 1403px 683px #fff, 1571px 1266px #fff, 1869px 61px #fff,
    831px 510px #fff, 46px 323px #fff, 829px 1582px #fff, 595px 1389px #fff,
    1524px 471px #fff, 594px 1442px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1906px 73px #fff, 163px 1277px #fff, 1559px 807px #fff,
    530px 1567px #fff, 882px 58px #fff, 1536px 1501px #fff, 1685px 1380px #fff,
    1980px 867px #fff, 1108px 1344px #fff, 673px 504px #fff, 1096px 1794px #fff,
    1591px 822px #fff, 1935px 1530px #fff, 882px 1290px #fff, 1018px 1163px #fff,
    1155px 97px #fff, 1303px 1033px #fff, 902px 1201px #fff, 1639px 1426px #fff,
    271px 390px #fff, 1079px 290px #fff, 1927px 1864px #fff, 1731px 1744px #fff,
    685px 886px #fff, 865px 888px #fff, 879px 1788px #fff, 699px 1370px #fff,
    1646px 1531px #fff, 1601px 1537px #fff, 1337px 541px #fff, 920px 1520px #fff,
    1464px 319px #fff, 552px 1475px #fff, 666px 1117px #fff, 871px 1393px #fff,
    1779px 1517px #fff, 547px 1051px #fff, 934px 1682px #fff, 1434px 375px #fff,
    730px 494px #fff, 327px 1682px #fff, 1719px 1604px #fff, 832px 80px #fff,
    821px 422px #fff, 236px 774px #fff, 894px 1734px #fff, 1821px 203px #fff,
    1550px 1741px #fff, 1354px 474px #fff, 24px 39px #fff, 1364px 1721px #fff,
    698px 578px #fff, 325px 96px #fff, 814px 1669px #fff, 425px 1269px #fff,
    1292px 631px #fff, 1916px 1725px #fff, 1469px 1801px #fff,
    1499px 1998px #fff, 1193px 1269px #fff, 878px 935px #fff, 1428px 1533px #fff,
    307px 1813px #fff, 1939px 833px #fff, 190px 773px #fff, 1202px 1083px #fff,
    560px 350px #fff, 1657px 1950px #fff, 1744px 17px #fff, 924px 113px #fff,
    808px 1468px #fff, 1954px 1165px #fff, 1627px 509px #fff, 391px 1599px #fff,
    885px 549px #fff, 1897px 1005px #fff, 477px 1521px #fff, 86px 1182px #fff,
    492px 1616px #fff, 866px 1120px #fff, 4px 1041px #fff, 317px 106px #fff,
    1662px 1093px #fff, 1909px 832px #fff, 888px 634px #fff, 796px 148px #fff,
    1398px 898px #fff, 585px 652px #fff, 1072px 466px #fff, 1497px 1029px #fff,
    1935px 957px #fff, 1403px 683px #fff, 1571px 1266px #fff, 1869px 61px #fff,
    831px 510px #fff, 46px 323px #fff, 829px 1582px #fff, 595px 1389px #fff,
    1524px 471px #fff, 594px 1442px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
