/* Transparent Bar */

.transparent-Bar {
  font-family: "Montserrat", sans-serif;
}

.trans-bar {
  margin-top: 150px;
  background-image: url("../assets/HomePage_Imgs/AboutBackground.svg");
  width: 100%;
  height: 443px;
  opacity: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 75px;
}

.bar-list {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.trans-bar .bar-header {
  font-size: 35px;
  color: #00fff0;
  text-align: center;
  padding-top: 20px;
  margin-top: 15px;
  font-weight: 500;
}

.trans-bar .items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 204px;
  height: 201px;
  border: 3px solid #0038ff;
  /* border: 3px solid #00fff0; */
  border-radius: 100px;
}

.trans-bar span {
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.bar-icon {
  width: 53px;
}
